<div class="vg-main-wrapper">
    <div class="vg-page page-home" id="inicio" style="background-image: url(../recursos/img/bg_image_2.jpg);">
      <div class="caption wow zoomInUp">
        <h1 class="fw-medium fg-theme">Este perfil se está actualizando</h1>
        <a href="./equipo"><p class="tagline">Volver</p></a>
      </div>
    </div>
</div>