---
interface Props {
  colorDarken: string;
}
const { colorDarken } = Astro.props;
---
<!-- Page Contacto -->
<div class="vg-page page-contact" id="contact">
    <h1 class="text-center fg-dark wow fadeInUp">Contacto</h1>
    <div class="container-fluid">
      <div class="row py-5">

        
          <form class="vg-contact-form" method="post" name="contacto" id ="newsletterForm" role="form">
            <div class="form-row">
              <div class="col-12 wow fadeInUp">
                <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Tu nombre" required />
              </div>
              <div class="col-6 wow fadeInUp">
                <input class="form-control" type="email" name="email" id="email" placeholder="E-mail" required />
              </div>
              <div class="col-6 wow fadeInUp">
                <input name="telefono" type="tel" class="form-control" id="telefono" placeholder="Teléfono" required />
              </div>
              <div class="col-12 wow fadeInUp">
                <textarea class="form-control" name="mensaje" id="mensaje" rows="6" placeholder="Enviame un mensaje..."></textarea>
              </div>
              <button type="submit" class="btn btn-theme mt-3 wow fadeInUp ml-1 w-100" style={`background-color:${colorDarken} !important`}>Enviar Mensaje</button>
            </div>
          </form>
        
      </div>
    </div>
  </div> <!-- End page contact -->