---
interface Props {
  colorDark: string;
}
const { colorDark } = Astro.props;
---
<div class="vg-footer" style={`background-color:${colorDark} !important`}>
    <div class="container">
      
      <div class="row justify-content-center mt-3">
        <div class="col-12">
          <p class="text-center mb-0 mt-4" style="color:white !important;">Portfolio -  Diseño: <a href="https://www.manejoweb.com.ar/">Manejo Web</a></p>
        </div>
      </div>
    </div>
  </div> <!-- End footer -->